#banner {
    width:  100%;
    height: 400px;
    object-fit: cover;
}
.body{
    text-align: center;
    margin-top: 15px;
    color: rgb(190, 190, 190);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}