<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
    ">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Janwan Careers </title>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary row">
    <div class="container col-9">
      <a class="navbar-brand" href="#">Janwan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Find Jobs </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Post Jobs </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-regular fa-user p-1"></i>Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
    </div>
  </nav>
  <div class="container  text-center">
    <h1>Janwan Careers</h1>




    </p>
  </div>
  <div class="container">
    <img class="img-fluid" id="banner" src="/static/images/banner.jpg" alt="">
  </div>
  <div class="container">
    <div class="text-center mt-2 mb-4">
      <h1>About Us </h1>

    </div>
    <p class="text-center lead mt-1 lead">"Embark on a Journey with Jawan Careers : Navigating Careers, Building
      Futures. Discover the essence of our platform and the passion driving us to empower individuals in their
      professional pursuits. Uncover the story behind our commitment to fostering growth, connecting talents with
      opportunities, and shaping the future of careers. Welcome to a space where aspirations meet possibilities, and
      success becomes a shared destination."

  </div>
  <div class="container">
    <h1 class="text-center">Jobs Openings</h1>
    <div>

      {% for job in jobs %}
     {% include 'jobitems.html'%}

      {% endfor%}
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary">Contact Us </button>
    <p class="mt-4">&copy; copyright Reserved 2023- Janwan Careers</p>
  </div>
</body>

</html>